
input{
    background: wheat;
    text-align: center;
    border-color:transparent;
    margin-top: 10px;
}

#div-resume{
    width: 60%;
    float: left;
}
thead{
    font-size: 0.95em;
}
#div-tables{
    width: 38%;
    float: right;
}
