h1{
    text-align: center;
}

table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
}

tr > input{
    border: 1px solid gray;
}

input{
    background: wheat;
    text-align: center;
    border-color: transparent;
    border: 1px solid gray;
    padding: 0;
    height: 22px;
}

#div-resume{
    width: 60%;
    float: left;
}
thead{
    font-size: 0.95em;
    text-align: center;
}
#div-tables{
    width: 38%;
    float: right;
}
.container{
    text-align: center;

}
table{
    text-align: end;
}