body{
  background-color:#b3ffcc;
  font-family: sans-serif;
  text-align: center;
}
h1{
  width: 40%;
  margin: auto;
  margin-bottom: 20px;
text-align: center;
background-color: white;
border-radius: 20%;
}
label{
  font-size: 15px;
}
#monto{
  width: 10%;
}
#corte{
  width: 10%;
}
table{
  background-color: white;
  margin: auto;
  margin-top: 20px;
}

